<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12" align="center">
      <img class="image" src="<%= @showing.movie.poster_link %>"
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12" align="center">
      <h1>Seating</h1>
      <% @seats.each_with_index do |seat, index| %>
      <% if index == 0 %>
      <div class="seating-row">
        <% if @seats_taken.include?(seat) %>
        <span class="btn btn-circle-white"></span>
        <% else %>
        <a href="/showings/<%= @showing.id %>/seats/<%= seat.id %>/tickets/new"><button type="button" class="btn btn-default btn-circle-blue"></button></a>
        <% end %>
        <% elsif index % 10 == 0 %>
      </div>
      <div class="seating-row">
        <% if @seats_taken.include?(seat) %>
        <span class="btn btn-circle-white"></span>
        <% else %>
        <a href="/showings/<%= @showing.id %>/seats/<%= seat.id %>/tickets/new"><button type="button" class="btn btn-default btn-circle-blue"></button></a>
        <% end %>
        <% else %>
        <% if @seats_taken.include?(seat) %>
        <span class="btn btn-circle-white"></span>
        <% else %>
        <a href="/showings/<%= @showing.id %>/seats/<%= seat.id %>/tickets/new"><button type="button" class="btn btn-default btn-circle-blue"></button></a>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>

</div>
